.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.action-bar button {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.action-bar button:hover {
  color: white;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
}

.action-bar:hover {
  opacity: 1;
}

.action-bar .close-button:hover {
  color: #e74c3c;
}
