.card {
  margin-top: 16px;
  background-color: transparent;
}

.card.active-section {
  border-color: #3298dc;
}

.card-header {
  cursor: pointer;
  justify-content: flex-end;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.card-header:hover {
  opacity: 1;
}

.card-content {
  padding: 1rem;
}

.section-button {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

.section-button:hover {
  color: #3298dc;
  border-color: transparent;
  background-color: #282f2f;
}

.close-button:hover {
  color: #e74c3c;
}
