.tree--explorer span {
  color: #1abc9c;
}

.tree--explorer {
  cursor: pointer;
}

.tree--explorer i.used {
  color: #f1b70e;
}

.tree--explorer div {
  padding: 6px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tree--explorer div.active {
  background-color: #1abc9c;
}

.tree--explorer div.active span {
  color: white;
}

.tree--explorer div:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.tree--explorer div:hover span {
  color: white;
}
